{% extends "base.html" %}

{% block searchform %}{% endblock %}

{% block content %}
<br><h1><a href="{{ movie.imdb_url }}">{{ movie.title }}</a></h1>
<br>Release Date: {{ movie.release_date }}
<br>Average Rating: {{ avg_ratings }}
<br>{{ count }} Individual Ratings:
{% for rating in ratings %}
<div class="panel panel-default">
<div class="panel-body">
    <a href="/rater/{{ rating.user_id }}">Rater {{ rating.user_id }}</a>
    <h3>Rating: {{ rating }}</h3>
</div>
</div>

{% endfor %}
{% endblock content %}
